html{
    text-align: center;
}

#upper{
    height: 30vh;
    background-color: gray;
    width: 50vw;
    margin: auto;
    display: flex;
}

#lower{
    height: 20vh;
    background-color: lightgray;
    width: 50vw;
    margin: auto;
}

.time-input-elements{
    text-align: center;
    font-size: 5vw;
    margin: auto;
    height: 7vw;
    width: 12vw;
}

.time-input-spans{
    margin: auto;
    font-size: 5vw;
}